In [1]:
import graphlab

In [2]:
people = graphlab.SFrame('people_wiki.gl/')

[INFO] This non-commercial license of GraphLab Create is assigned to jjmmg@yahoo.comand will expire on October 22, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-2492 - Server binary: C:\Users\JJMMG\AppData\Local\Dato\Dato Launcher\lib\site-packages\graphlab\unity_server.exe - Server log: C:\Users\JJMMG\AppData\Local\Temp\graphlab_server_1446112937.log.0
[INFO] GraphLab Server Version: 1.6.1

In [3]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [4]:
elton = people[people['name'] == 'Elton John']

In [5]:
print " Question 1 (word count): %s" % (elton[['word_count']].stack('word_count', new_column_name = ['word','count']).sort('count',ascending=False)[0:3]['word'])

 Question 1 (word count): ['the', 'in', 'and']

In [ ]:
people['tfidf'] = graphlab.text_analytics.tf_idf(people['word_count'])['docs']

In [ ]:
elton = people[people['name'] == 'Elton John']

In [ ]:
print " Question 1 (tf-idf): %s" % (elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)[0:3]['word'])

In [84]:
posh = people[people['name'] == 'Victoria Beckham']
print " Question 2 (Victoria Beckham): %s" % (graphlab.distances.cosine(elton['tfidf'][0],posh['tfidf'][0]))

In [89]:
beatle = people[people['name'] == 'Paul McCartney']
print " Question 2 (Paul McCartney): %s" % (graphlab.distances.cosine(elton['tfidf'][0],beatle['tfidf'][0]))

 Question 2 (Paul McCartney): 0.825031002922

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+------------+-------+
|    word    | tfidf |
+------------+-------+
|    five    |  0.0  |
| worldwide  |  0.0  |
| charitable |  0.0  |
|  england   |  0.0  |
|   began    |  0.0  |
|    top     |  0.0  |
|    time    |  0.0  |
|     58     |  0.0  |
|    wind    |  0.0  |
|    over    |  0.0  |
+------------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [98]:
knn_model_word_count = graphlab.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

PROGRESS: Starting brute force nearest neighbors model training.

In [94]:
knn_model_tfidf = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

PROGRESS: Starting brute force nearest neighbors model training.

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 364.021ms    |
PROGRESS: | Done         |         | 100         | 709.041ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [107]:
print " Question 3 (elton similar - word count): %s" % (knn_model_word_count.query(elton)[1]['reference_label'])

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 13.001ms     |
PROGRESS: | Done         |         | 100         | 380.022ms    |
PROGRESS: +--------------+---------+-------------+--------------+
 Question 3 (elton similar - word count): Cliff Richard

In [108]:
print " Question 3 (elton similar - tf-idf): %s" % (knn_model_tfidf.query(elton)[1]['reference_label'])

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 15.001ms     |
PROGRESS: | Done         |         | 100         | 406.023ms    |
PROGRESS: +--------------+---------+-------------+--------------+
 Question 3 (elton similar - tf-idf): Rod Stewart

In [109]:
print " Question 3 (posh similar - word count): %s" % (knn_model_word_count.query(posh)[1]['reference_label'])

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 15.001ms     |
PROGRESS: | Done         |         | 100         | 350.02ms     |
PROGRESS: +--------------+---------+-------------+--------------+
 Question 3 (posh similar - word count): Mary Fitzgerald (artist)

In [110]:
print " Question 3 (posh similar - tf-idf): %s" % (knn_model_tfidf.query(posh)[1]['reference_label'])

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 17.001ms     |
PROGRESS: | Done         |         | 100         | 440.026ms    |
PROGRESS: +--------------+---------+-------------+--------------+
 Question 3 (posh similar - tf-idf): David Beckham

In [30]:
jolie = people[people['name'] == 'Angelina Jolie']

In [31]:
knn_model.query(jolie)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 27.002ms     |
PROGRESS: | Done         |         | 100         | 772.045ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Angelina Jolie   |      0.0       |  1   |
|      0      |     Brad Pitt      | 0.784023668639 |  2   |
|      0      |   Julianne Moore   | 0.795857988166 |  3   |
|      0      | Billy Bob Thornton | 0.803069053708 |  4   |
|      0      |   George Clooney   |   0.8046875    |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

In [32]:
arnold = people[people['name'] == 'Arnold Schwarzenegger']

In [33]:
knn_model.query(arnold)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 21.001ms     |
PROGRESS: | 0            | 55791   | 94.4474     | 1.02s        |
PROGRESS: | Done         |         | 100         | 1.16s        |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------+----------------+------+
| query_label |    reference_label    |    distance    | rank |
+-------------+-----------------------+----------------+------+
|      0      | Arnold Schwarzenegger |      0.0       |  1   |
|      0      |     Jesse Ventura     | 0.818918918919 |  2   |
|      0      |     John Kitzhaber    | 0.824615384615 |  3   |
|      0      |     Lincoln Chafee    | 0.833876221498 |  4   |
|      0      |      Anthony Foxx     | 0.833910034602 |  5   |
+-------------+-----------------------+----------------+------+
[5 rows x 4 columns]